{% extends "layout.html" %}
{% block content %}
	<div class="site-header-logo">
		<h1 class="text-left">
			World Electricity and Renewable Energy
		</h1>
	</div>

	<div class="row">
		<div class="col-4 ml-0">
			<div>
				<di id = "chart1"></di>
			</div>
			<div>
				<di id = "chart2"></di>
			</div>
		</div>
		<div class="col-1">
			<div class="span10">
				<di id = "chart3"></di>
			</div>
			<!-- <div class="w-100"> -->
				<span id="sliderStatus" style="color:white"> 2014 </span>
				<input type="range" min="2000" max="2014" value="2014" step="1" 
					onChange="sliderChange(this.value)"/>
			<!-- </div> -->
		</div>
	</div>



	<!-- ployly CDN -->
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs1 = {{ graph1JSON | safe}};
        Plotly.plot("chart1", graphs1,{});

        var graphs2 = {{ graph2JSON | safe}};
        Plotly.plot("chart2", graphs2,{});

        var graphs3 = {{ graph3JSON | safe}};
        Plotly.plot("chart3", graphs3,{});

        function sliderChange(val){
        	document.getElementById('sliderStatus').innerHTML = val;
        }
    </script>
{% endblock %}